/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/
.publication-category {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

/* Category-specific colors */
.preprints {
  background-color: #e74c3c; /* Red */
}

.journal-articles {
  background-color: #f1c40f; /* Yellow */
  color: black; /* Ensure readability on yellow */
}

.conference-papers {
  background-color: #3498db; /* Blue */
}

.workshop-communications {
  background-color: #2980b9; /* Blue */
}


// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.

.notes-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.note-tile {
  display: flex;
  align-items: center;
  width: 100%;
  background: #f8f9fa;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  padding: 15px;
}

.note-tile:hover {
  transform: scale(1.02);
}

.note-thumbnail img {
  width: 180px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.note-content {
  padding-left: 20px;
  flex: 1;
}

.note-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.note-description {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}
